{% extends 'comics/base.html' %}
{% load static %}



{% block title %}Comics{% endblock %}

{% block content %}
    
    <section class="home">
        <div class="home-logo">
            <img src="{% static 'imagenes/logo_telecraft.png' %}"alt="Imagen de TELECRAFT">
        </div>
        <div class="home-content">
            <h1>Bienvenidos a <span>Latigion</span></h1>
            <h3 class="typing-text">La seccion de<span>Comics</span></h3>
            <p>"En Latigion, creemos en el poder de las historias. Esta es una plataforma donde escritores y dibujantes pueden compartir sus obras con una comunidad apasionada por la lectura. Desde emocionantes aventuras hasta historias profundas y conmovedoras, aquí hay algo para todos. Explora, comenta y forma parte de este universo narrativo."</p>


            <div class="social-icons">
                <a href="https://instagram.com" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
                <a href="https://twitter.com" target="_blank"> <i class="fa-brands fa-twitter"></i> </a>
                <a href="https://tiktok.com" target="_blank"> <i class="fa-brands fa-tiktok"></i> </a>
                <a href="https://youtube.com/@latigion?si=o5CC9yKEB_NkqMpA" target="_blank"> <i class="fa-brands fa-youtube"></i> </a>
            </div>
        </div>
    </section>


    <section class="video-gallery">
        <h2>Anuncios de Latigion</h2>
        <div id="video-container"></div>
    </section>


    <section class="landing_page">
        <button class="btn-landing">
            <a href="{% url 'landing_page' %}" target="_blank" >Conocer más</a>
        </button>
    </section>


    <!-- Enlace al script externo -->
    <script src="{% static 'js/videoGallery.js' %}"></script>

    

{% endblock %}
